body * {
    border: 1px solid red;
}

:root {
    --nav-bg-color: #bfbfbf;
    --nav-text-color: #020873;
    --button-bg-color: #ffffff;
    --button-text-color: #020873;
}

header section {
    display: flex;
    justify-content: space-between;
}
#menu_perfil_usuario {
    display: flex;
}
#menu_perfil {
    flex-direction: column;
    list-style: none;
}
nav ul {
    list-style: none;
}

.button {
    display: inline-flex;
    justify-content:center;
    align-items: center;

    background: var(--button-bg-color);
    border-radius: .8rem;

    color: var(--button-text-color);
}